<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
    
	<!-- Bean declarations go here -->
	<bean id="duke" class="org.chen.beans.PoeticJuggler">
		<constructor-arg name="beanBags" value="15"></constructor-arg>
		<constructor-arg name="p" ref="sonnet29"></constructor-arg>
	</bean>
	<!-- -->
	<bean id="sonnet29" class="org.chen.beans.Sonnet29" />
	<!-- 场地单例，延迟加载 -->
	<bean id="stage" class="org.chen.beans.Stage" factory-method="getInstance">
	</bean>
	<!-- 灯光 -->
	<bean id="auditorium" class="org.chen.beans.Auditorium"
		init-method="turnOnlights" destroy-method="turnOfflights">
	</bean>
	<!-- -->
	<bean id="kenny" class="org.chen.beans.Instrumentalist">
		<property name="song" value="Jingle Bells"></property>
		<property name="instrument" ref="saxophone"></property>
	</bean>
	<!-- 乐器，啥克斯 -->
	<bean id="saxophone" class="org.chen.beans.Saxophone" />
	<!-- 听众bean -->
	<bean id="audience" class="org.chen.beans.Audience" />
	<aop:config>
		<aop:aspect ref="audience">
			<aop:before pointcut="execution(* org.chen.Interface.Performer.perform(..))"
				method="takeSeats" />
			<aop:before pointcut="execution(* org.chen.Interface.Performer.perform(..))"
				method="turnOffCellPhones" />
			<aop:after-returning
				pointcut="execution(* org.chen.Interface.Performer.perform(..))"
				method="applaud" />
			<aop:after-throwing method="demandRefund"
				pointcut="execution(* org.chen.Interface.Performer.perform(..))" />
		</aop:aspect>
	</aop:config>
</beans>
